$compName: 'sftk-switch';

.#{$compName} {
	display: inline-block;
	cursor: pointer;
	margin: 1rem;

	&.disabled {
		cursor: default;
		opacity: 0.5;
	}

	&:hover:not(.disabled) .#{$compName}__button-icon,
	&.focused .#{$compName}__button-icon {
		box-shadow: 0 0 0 1.2rem rgba(97,97,97,0.5);
	}

	&--checked {
		& .#{$compName}__button-icon {
			background-color: $colorPrimary;
			transform: translateX(3rem);
		}
	}

	&__button {
		background-color: #363636;
		border-radius: 2.4rem;
		width: 6.4rem;
    height: 3.2rem;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
		vertical-align: middle;
		padding: 0.4rem;
		margin-right: 1.6rem;
		
		&-inside {
			line-height:  3.2rem;
			display: inline-block;
		}

		&-icon {
			width: 2.4rem;
    	height: 2.4rem;
    	border-radius: 50%;
			background-color: $colorNeutral50;
			display: inline-block;
			position: relative;
			z-index: 1;
			box-shadow: 0 0 0 .6rem rgba(97,97,97,0);
			transition:all 0.1s ease-in;
		}
		
	}

	&__label {
		font-size: 1.6rem;
		line-height: 2.4rem;
		color: $colorNeutral50;
		user-select: none;
		vertical-align: middle;
	}

	&__input {
		top: 0;
    left: 0;
    width: 100%;
    cursor: inherit;
    height: 100%;
    margin: 0;
    opacity: 0;
    padding: 0;
    z-index: 1;
		position: absolute;
	}
	
}
