$compName: 'sftk-select';

$optionHeight: 2.4rem;

.#{$compName} {
	position: relative;
	width: 28rem;

	&:not(.disabled) .#{$compName}__selected {
		cursor: pointer;
	}

	&:hover:not(.disabled),
	&:focus:not(.disabled) {
		.#{$compName}__placeholder {
			color: $colorNeutral50;
		}

		.#{$compName}__selected {
			border-bottom-color: $colorSecondary;
		}

		.#{$compName}__selected {
			outline: none;
			box-shadow: $boxShadow;
			border-top: .1rem solid #FDEBB3;
			border-left: .1rem solid #FDEBB3;
			border-right: .1rem solid #FDEBB3;
		}
	}

	&.disabled {
		opacity: 0.5;
	}

	& select {
		display: none; /*hide original SELECT element: */
	}

	&.opened {
		.#{$compName}__select-icon {
			transform: rotate(180deg);
		}
	}

	&__selected {
		position: relative;
		background: #2E2E2E;
		height: 5.6rem;
		width: 100%;
		box-sizing: border-box;
		padding: .4rem 2rem .8rem 1.6rem;
		outline: none;
		border: .1rem solid transparent;
		border-radius: 0;
		border-bottom: .2rem solid #858585;
		display: block;
	}

	&__title-container {
		display: inline-block;
		width: calc(100% - 4rem);
	}

	&__name {
		@include truncate;
		font-size: 1.3rem;
		line-height: 2rem;
		color: #858585;
		user-select: none;
	}

	&__placeholder {
		@include truncate;
		font-size: 1.6rem;
		line-height: 2.4rem;
		color: #B5B5B5;
		user-select: none;
	}

	&__select-icon {
		float: right;
		margin-top: .8rem;
		transition: transform .3s ease;
	}
	
	&__select {
		overflow-y: auto;
    max-height: 25rem;
		position: absolute;
		z-index: 999;
		left: 0;
		right: 0;
		user-select: none;
		animation: fadein .2s ease;
	}

	&__option {
		background: #363636;
		padding: 1.2rem 1.6rem;
		vertical-align: middle;
		
		&:hover:not(.disabled),
		&:focus:not(.disabled) {
			outline: none;
			background-color: #404040;
			color: $colorNeutral50;
			cursor: pointer;
		}

		&.disabled .#{$compName}__option-label {
			opacity: 0.5;
		}
		
		&-label {
			@include truncate;
			display: inline-block;
			font-size: 1.6rem;
			line-height: 2.4rem;
			color: #B5B5B5;
			max-width: calc(100% - 3.4rem);
		}

		&-icon {
			vertical-align: middle;
			float: right;
		}
	}

	@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
	}
}