$compName: 'sftk-input-text';

.#{$compName} {
	position: relative;
	margin: 2rem 0;
	width: 28rem;

	&--disabled {
		opacity: 0.5;
	}

	.#{$compName}__input {
		font-size: 1.6rem;
		line-height: 2.4rem;
		background: #2E2E2E;
		height: 5.6rem;
		width: 100%;
		color: $colorNeutral50;
		box-sizing: border-box;
		padding: 2.4rem 3.6rem 0.8rem 1.6rem;
		outline: none;
		border: .1rem solid transparent;
		border-radius: 0;
		border-bottom: .2rem solid #858585;
		display: block;

		&::-ms-clear {
			display: none;
		}

		&--success {
			border-bottom-color: $colorSuccess;
		}

		&--error {
			border-bottom-color: $colorError;
		}

		&:focus {
			outline: none;
			box-shadow: $boxShadow;
			border-top: .1rem solid #FDEBB3;
			border-left: .1rem solid #FDEBB3;
			border-right: .1rem solid #FDEBB3;
		}

		&:hover:not(:disabled) {
			border-bottom: .2rem solid #FDEBB3;
		}

		&:focus ~ .#{$compName}__label,
		&:valid ~ .#{$compName}__label {
			color: $colorSecondary;
			font-size: 1.3rem;
			line-height: 2rem;
			top: 0.4rem;
		}

		&:focus ~ .#{$compName}__bar:before {
			width: 28rem;
			background: #FCDD82;
		}

	}

	&__label {
		color: #B5B5B5;
		font-size: 1.6rem;
		font-weight: normal;
		position: absolute;
		pointer-events: none;
		left: 1.6rem;
		top: 1.4rem;
		line-height: 2.4rem;
		transition: 0.3s ease all;
		user-select: none;
	}
	
	&__bar {
		position: relative;
		display: block;
		width: 28rem;
		&:before {
			content: '';
			height: .2rem;
			width: 0;
			bottom: 0px;
			position: absolute;
			background-color: transparent;
			// transition: 0.3s ease all;
			left: 0%;
		}
	}

	&__icons-container {
		position: absolute;
		right: 0;
		top: 2.2rem;
		display: table;

		& > * {
			margin-right: 16px;
		}
	}

	&__badge {
		display: inline-block;
		vertical-align: middle;
    height: 1.3rem;
    width: 1.3rem;
		border-radius: 50%;
		background-color: transparent;

		&--success {
			background-color: $colorSuccess;
		}

		&--error {
			background-color: $colorError;
		}
	}

	&__hint {
		display: block;
		margin-top: 4px;
		height: 2rem;
		font-size: 1.3rem;
		line-height: 2rem;

		&--error {
			color: $colorError;
		}

		&--success {
			color: $colorSuccess;
		}
	}

}