$compName: 'sftk-button';

.#{$compName} {
	position: relative;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 1rem 3rem;
	padding: 1.2rem 2.4rem;
	min-width: 1.6rem;
	height: 5.6rem;
	transition: background-color 0.3s ease;
	border: 0;
	outline: none;

	&:hover:not(:disabled) {
		cursor: pointer;

		& .#{$compName}__icon {
			transform: translateX(.2rem);
		}
	}

	&:disabled {
		opacity: 0.5;
	}

	&:focus {
		outline: 1px solid #FFF;
		box-shadow: $boxShadow;
	}

	&__label {
		font-family: Inter;
		font-style: normal;
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 2.4rem;
		text-transform: uppercase;
		margin-right: 3.6rem;
		z-index: 1;
	}

	&__icon {
		z-index: 1;
		transition: transform 0.1s ease;
	}
	
	&.loading .#{$compName}__icon {
		animation: rotation 1s infinite linear;
	}

	&.primary {
		background-color: $colorPrimary;
		color: $colorNeutral900;

		&:hover:not(:disabled) {
			background-color: $colorSecondary;
		}

		& .#{$compName}__icon path {
			fill: #2E2E2E;
		}
	}

	&.secondary {
		background-color: rgba(0,0,0,0);
		color: #FFF;
		outline: 1px solid #FFF;
		transition: outline 0.3s ease;

		&:hover:not(:disabled) {
			outline: 1px solid  $colorPrimary;
		}

		& .#{$compName}__icon path {
			fill: #FFF;
		}

		&:focus {
			& .#{$compName}__label {
				text-shadow: $textShadow
			}
		}
	}

	/*ripple effect*/
	&.ripple:not(:disabled) {
		@include rippleEffect;
	}
	
}