$compName: 'card-checkbox';

.#{$compName} {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;

    &:hover:not(.disabled) {
        cursor: pointer;
    }

    &.checked .#{$compName}__circle--inner {
        transform: scale(0.6);
        background-color: $colorPrimary;
    }

    &.checked .#{$compName}__circle--outer,
    &:hover:not(.disabled) .#{$compName}__circle--outer,
    &.focused .#{$compName}__circle--outer {
        border-color: $colorPrimary;
    }

    &.disabled,
    &:hover:not(.disabled)::after,
    &.focused::after {
        opacity: 0.5;
    }

    &__circle {
        box-sizing: border-box;
        height: 20px;
        left: 0;
        top: 0;
        border-radius: 50%;
        position: absolute;
        width: 20px;
        z-index: 1;

        &--outer {
            transition: border-color ease 280ms;
            border-width: 2px;
            border-style: solid;
        }

        &--inner {
            transition: transform ease 280ms, background-color ease 280ms;
            transform: scale(0);
        }
    }

    &::after {
        content: '';
        position: absolute;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #404040;
        opacity: 0;
        transition: 0.3s ease;
    }

    &__input {
        top: 0;
        left: 0;
        width: 100%;
        cursor: inherit;
        height: 100%;
        margin: 0;
        opacity: 0;
        padding: 0;
        z-index: 1;
        position: absolute;
    }
}
