$compName: 'sftk-textarea';

.#{$compName} {
	position: relative;
	margin: 2rem 0;
	width: 28rem;

	textarea {
		resize: none;
	}

	&--disabled {
		opacity: 0.5;
	}

	.#{$compName}__textarea {
		@include customScrollbar;
		font-family: 'Inter', sans-serif;
		font-size: 1.6rem;
		line-height: 2.4rem;
		background: #2E2E2E;
		width: 100%;
		color: $colorNeutral50;
		box-sizing: border-box;
		padding: 2.6rem 1.6rem 2.6rem 1.6rem;
		outline: none;
		border: .1rem solid transparent;
		border-radius: 0;
		border-bottom: .2rem solid #858585;
		display: block;

		&::-ms-clear {
			display: none;
		}

		&--success {
			border-bottom-color: $colorSuccess;
		}

		&--error {
			border-bottom-color: $colorError;
		}

		&:focus {
			outline: none;
			box-shadow: $boxShadow;
			border-top: .1rem solid $colorSecondary;
			border-left: .1rem solid $colorSecondary;
			border-right: .1rem solid $colorSecondary;
			border-bottom-color: $colorSecondary;
		}

		&:hover:not(:disabled) {
			border-bottom: .2rem solid $colorSecondary;
		}

		&:focus ~ .#{$compName}__label,
		&:valid ~ .#{$compName}__label {
			color: $colorSecondary;
			font-size: 1.3rem;
			line-height: 2rem;
			padding-top: 0.4rem;
		}

	}

	&__label {
		box-sizing: border-box;
		width: calc(100% - 2px);
		margin: 1px;
		background-color: #2E2E2E;
		color: #B5B5B5;
		font-size: 1.6rem;
		font-weight: normal;
		position: absolute;
		pointer-events: none;
		top: 0;
		left: 0;
		padding: 1.4rem 0 0 1.6rem;
		line-height: 2.4rem;
		user-select: none;
		border: 1px solid transparent;
		transition: all 0.3s ease;
	}

	&__icons-container {
		position: absolute;
		right: 0;
		top: 1.6rem;
		z-index: 1;

		& > * {
			margin-right: 16px;
		}
	}

	&__badge {
		display: inline-block;
		vertical-align: middle;
    height: 1.3rem;
    width: 1.3rem;
		border-radius: 50%;
		background-color: transparent;

		&--success {
			background-color: $colorSuccess;
		}

		&--error {
			background-color: $colorError;
		}
	}

	&__hint {
		display: block;
		margin-top: 4px;
		height: 2rem;
		font-size: 1.3rem;
		line-height: 2rem;

		&--error {
			color: $colorError;
		}

		&--success {
			color: $colorSuccess;
		}
	}

}