@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

@import './variables.scss';
@import './components/Inputs/InputText/InputText.scss';
@import './components/Inputs/InputPassword/InputPassword.scss';
@import './components/Inputs/Select/Select.scss';
@import './components/Checkboxes/Switch/Switch.scss';
@import './components/Checkboxes/Checkbox/Checkbox.scss';
@import './components/Checkboxes/RadioGroup/RadioGroup.scss';

html, body {
	font-size: 10px;
	background-color: #212121;
	color: #FFF;
	margin: 0;
	padding: 1rem;
}

.container {
	background-color: #262626;
	padding: 2rem;
	margin: 2rem 0;
}

.column {
	vertical-align: top;
	width: 50%;
	box-sizing: border-box;
	display: inline-block
}

.title {
	font-size: 1.5rem;
	line-height: 4.4rem;
	margin-bottom: 2rem;
}

@media screen and (max-width: 792px) {
	.column {
		display: block;
		width: 100%;
	}
}