@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

@import './variables.scss';
@import './components/Inputs/InputText/InputText.scss';
@import './components/Inputs/InputPassword/InputPassword.scss';
@import './components/Inputs/TextArea/TextArea.scss';
@import './components/Inputs/Select/Select.scss';
@import './components/Checkboxes/Switch/Switch.scss';
@import './components/Checkboxes/Checkbox/Checkbox.scss';
@import './components/Checkboxes/RadioGroup/RadioGroup.scss';
@import './components/Checkboxes/RadioGroup/Radio/Radio.scss';
@import './components/Buttons/Button.scss';
@import './components/Buttons/ButtonIcon.scss';
@import './components/Table/Table.scss';
@import './components/Chip/Chip.scss';

html, body {
	@include customScrollbar;
	font-size: 10px;
	background-color: #212121;
	color: #FFF;
	margin: 0;
	padding: 1rem;
}

.container {
	background-color: #262626;
	padding: 2rem;
	margin: 2rem 0;
}

.column {
	vertical-align: top;
	width: 50%;
	box-sizing: border-box;
	display: inline-block;
}

.title {
	font-size: 1.5rem;
	line-height: 4.4rem;
	margin: 1rem 0 2rem 0;
}

@media screen and (max-width: 792px) {
	.column {
		display: block;
		width: 100%;
	}
}
