$colorPrimary: #FCDD82;
$colorSecondary:  #FDEBB3;
$colorError: #E43E42;
$colorSuccess: #73C480;
$colorNeutral50: #E6E6E6;
$colorNeutral100: #B5B5B5;
$colorNeutral500: #404040;
$colorNeutral600: #363636;
$colorNeutral700: #2E2E2E;
$colorNeutral800: #262626;
$colorNeutral900: #1A1A1A;

$boxShadow: 0 0 1rem 0 $colorPrimary;
$textShadow: 0 0 1rem $colorPrimary;

@mixin truncate {
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin customScrollbar {
	$scrollbarGrayLight: #616161;
	$scrollbarGrayDark: #363636;

	& {
		scrollbar-color: $scrollbarGrayLight $scrollbarGrayDark;
		scrollbar-width: thin;
	}
	
	&::-webkit-scrollbar {
		width: 8px;
	}
	
	&::-webkit-scrollbar-track {
		background-color: $scrollbarGrayDark;
	}
	
	&::-webkit-scrollbar-thumb {
		border-radius: 8px;
		background-color: $scrollbarGrayLight;
	}
}