$colorPrimary: #FCDD82;
$colorSecondary:  #FDEBB3;
$colorError: #E43E42;
$colorSuccess: #73C480;
$colorNeutral50: #E6E6E6;

$boxShadow: 0 0 1rem 0 $colorPrimary;
$textShadow: 0 0 1rem $colorPrimary;

@mixin truncate {
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}